body {
    color: #383838;
    font-family: montserrat, sans-serif;
    font-style: normal;
}

section {
    padding: 40px;
    text-align: center;
}

h1 {
    font-size: 72px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 0;
}

h2 {
    font-size: 36px;
    font-weight: 500;
}

a {
    color: #383838;
    text-decoration: none;
}

.team-leader a:hover {
    color: #DD2D5C;
    text-decoration: none;
    transition: all .3s ease;
}

.engineer a:hover {
    color: #3ADBCF;
    text-decoration: none;
    transition: all .3s ease;
}

.intern a:hover {
    color: #4D5ABE;
    text-decoration: none;
    transition: all .3s ease;
}

a:visited {
    color: #383838;
    text-decoration: underline;
}

.team-leader {
    border-color: #DD2D5C;
}

.engineer {
    border-color: #3ADBCF;
}

.intern {
    border-color: #4D5ABE;
}

.team-card {
    border-radius: 35px;
    border-style: solid;
    border-width: 4px;
    margin: 20px;
    padding: 30px 0;
    width: 29%;
    min-width: 320px;
}

.team-photo {
    border-radius: 50%;
    margin-bottom: 20px;
    width: 200px;
}

.title {
    background-color: #383838;
    color: white;
    padding: 20px;
    width: 100%;
}

.team-leader .title {
    background-color: #DD2D5C;
}

.engineer .title {
    background-color: #3ADBCF;
}

.intern .title {
    background-color: #4D5ABE;
}

.position {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.employee-id {
    font-weight: 600;
    font-style: italic;
    margin: 20px 0;
    text-transform: uppercase;
}

.team-leader .employee-id {
    color: #DD2D5C;
}

.engineer .employee-id {
    color: #3ADBCF;
}

.intern .employee-id {
    color: #4D5ABE;
}

.email {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.extra {
    font-size: 20px;
    font-weight: 600; 
}